<h3> {{mensajeriaConsulta.CONSULTAR_LOCACIONES}}</h3>
<hr/>
<div  class="col-md-12" id="AdministradorGeograf" ng-controller="AdministradorGeografConsultarCtrl" ng-init="initiate()">
 <form id="formulario" name="formulario" class="form-group">
    <div  id="formDiv" >
       
            <div id="rutEmpresaDiv" class="row">
                <h5 class="col-md-3"><strong>{{mensajeriaConsulta.RUT_EMPRESA}}</strong></h5>                
                <h5 class="col-md-9">{{rutEmpresaConsultaData}}</h5>                
            </div>

            <div id="nombreEmpresaDiv" class="row">                
                <h5 class="col-md-3"><strong>{{mensajeriaConsulta.NOMBRE_EMPRESA}}</strong></h5>                
                <h5 class="col-md-9">{{nombreEmpresaConsultaData}}</h5>     
            </div>            

            <div id="direccionCasaMatrizDiv" class="row">

                <h5 class="col-md-3"><strong>{{mensajeriaConsulta.DIRECCION_CASA_MATRIZ}}</strong></h5>                
                <h5 class="col-md-9">{{direccionCasaMatrizConsultaData}}</h5>   
            </div>            

            <div id="puertoDiv" class="row">

                <h5 class="col-md-3"><strong>{{mensajeriaConsulta.PUERTO}}</strong></h5>
                
                <div class="col-md-5">
                    <select  class="form-control" ng-change="updateLugar()" ng-model="puertoConsulta.seleccionado" ng-options="o as o for o in puertoConsulta.nombre"></select>
                </div>
            </div>            

            <div id="sitioDiv" class="row">

                <h5 class="col-md-3"><strong>{{mensajeriaConsulta.LUGAR}}</strong></h5>
                       
                <div class="col-md-5">
                    <select  class="form-control" ng-model="lugarConsultaData.seleccionado" ng-options="o as o for o in lugarConsultaData.nombre"></select>
                </div>
            </div>            

            <div id="lugarDiv" class="row">

                <h5 class="col-md-3"><strong>{{mensajeriaConsulta.POSICION}}</strong></h5>
                
                <div class="col-md-5">
                    <input  ng-model="coordenadasConsultaData" class=" form-control" >                    
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" ng-click="search()" class="btn btn-default">{{mensajeriaConsulta.BUSCAR_BTN}}</button>
            </div>
       
    </div>
    <div class="form-actions pull-right">

        <button type="button" ng-disabled="!tableLength()" ng-click="getExcel()" class="btn btn-default">{{mensajeriaConsulta.EXPORTAR_EXCEL_BTN}}</button>
        <span><br/></span><br/>
    </div>
    <div id="resultTable">

        <table class="table table-striped table-bordered table-responsive table-hover " >
            <thead >
                <tr>
                    <th><small>{{mensajeriaConsulta.RUT_EMPRESA}}</small></th>
                    <th><small>{{mensajeriaConsulta.NOMBRE_EMPRESA}}</small></th>
                    <th><small>{{mensajeriaConsulta.DIRECCION_CASA_MATRIZ}}</small></th>
                    <th><small>{{mensajeriaConsulta.PUERTO}}</small></th>
                    <th><small>{{mensajeriaConsulta.LUGAR}}</small></th>
                    <th><small>{{mensajeriaConsulta.POSICION}}</small></th>
                    <th><small>{{mensajeriaConsulta.MODIFICAR}}</small></th>
                    <th><small>{{mensajeriaConsulta.ELIMINAR}}</small></th>                                
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="locacion in tablaLocacionConsulta">
                    <td >
                        <p>{{locacion.rutEmpresa}}</p>
                    </td>
                    <td >
                        <p>{{locacion.nombreEmpresa}}</p>
                    </td>
                    <td >
                        <p>{{locacion.direccionCasaMatriz}}</p>
                    </td>
                    <td >
                        <p>{{locacion.puerto}}</p>
                    </td>
                    <td >
                        <p>{{locacion.lugar}}</p>
                    </td>
                    <td >
                        <p>{{locacion.posicion}}</p>
                    </td>
                    <td >
                        <button  ng-click="update($index)"  style="background-color: transparent; border-color: #000\9" class="btn center-block glyphicon glyphicon-pencil"></button>
                    </td>
                    <td >                        
                        <button  ng-click="delete($index)"  style="background-color: transparent; border-color: #000\9" class="btn center-block glyphicon glyphicon-trash"></button>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>


    <div class="row">
        <h5 class="col-md-3">{{mensajeriaConsulta.CAMPOS_OBLIGATORIOS}}</h5>
    </div>


    <div class="">
        <div class="col-md-9"></div>
        <div class="col-3 form-inline pull-right">        	
            <button class="btn btn-primary" ng-click="save()" ui-sref="main.composite" href="#!/main">{{mensajeriaConsulta.SALIR_BTN}}</button>        	        
        </div>
    </div>
      </form>
</div>

<script type="text/ng-template" id="messageComponentConsulta.html">
<div>
    <div class="modal-header"></div>
    <div class="modal-body" id="modal-body-consulta">
    {{customMessage}}
    </div>
    <div class="modal-footer ">
    <div class="col-md-4"></div>
        <button class="btn btn-primary col-md-2 center-block" type="button" ng-click="ok()">{{alertMessages.OK_BTN}}</button>            
        <button class="btn btn-danger col-md-2 center-block" ng-show="type === 'confirm'" type="button" ng-click="cancel()">{{alertMessages.CANCELAR_BTN}}</button>            
    </div>
</div>    
</script>