<div class="container-fluid">
	<br>
	<p>{{messages.messageJornadaMasiva}}</p>
	<p>{{messages.messageJornadaMasiva2}}</p>
	<button class="btn btn-info" href ng-click="url()">{{messages.BTN_Ejemplo}}</button>
	<p>{{seleccionArchivo}}</p>
	<div class="custom-file-upload">
		<input type="file" id="file" ng-model="fileUpload" name="myfiles[]" multiple />
	</div>
</div>
<br>
<br>
<div class="container-fluid col-lg-6  pull-right">
	<div class="pull-right">
		<button class="btn btn-warning" ui-sref="main.composite" type="submit">{{messages.BTN_cancelar}}</button>
		<button href class="btn btn-primary" ng-click="continuar(1)" data-toggle="tab">{{messages.BTN_continuar}}</button>
	</div>
	<br>
	<br>
	<br>
</div>