<form name="formTab1">
	<h4>{{messages.consultarComiteParitario}}
	<small ng-show="comiteLoading">
	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
	Cargando...
	</small>
	</h4>
	<hr/>
	<div class="alert alert-danger" ng-show="mostrarError">
		<strong>Error!</strong> {{messageError}}.
	</div>
	<div class="form-group row">
		<label for="direccionGoogleMaps" class="col-md-3 col-form-label">{{messages.rutEmpresa}}</label>
		
		<div class="col-md-4">
			<label class="control-label col-xs-4">{{rutEmpresa}}</label>
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-md-3">{{messages.nombreRazon}}</label>
		<div class="col-md-4">
			<label class="control-label col-xs-4">{{nombreRazon}}</label>
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-md-3">{{messages.rutRepresentante}}</label>
		<div class="col-md-4">
			<label class="control-label col-xs-4">{{rutRepresentante}}</label>
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-md-3">{{messages.nombreRepresentanteLegal}}</label>
		<div class="col-md-4">
			<label class="control-label col-xs-4">{{nombreRepresentanteLegal}}</label>
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-xs-3">{{messages.rutRepresentanteEmpresa}}</label>
		<div class="col-xs-4">
			<input type="text" ng-required="true" class="form-control" ng-model="consultar.rutRepresentanteEmpresa" placeholder="{{messages.rutRepresentanteEmpresa}}">
		</div>
	</div>
	<div class="form-group row">
		<label for="nombre-completo" class="col-md-3 col-form-label">{{messages.rutRepresentanteTrabajadores}}</label>
		
		<div class="col-md-4">
			<input type="text" ng-required="true" class="form-control" ng-model="consultar.nombreRepresentanteTrabajadores" placeholder="{{messages.rutRepresentanteTrabajadores}}">
		</div>
	</div>
	<!-- <div class="form-group row">
						<label class="control-label col-md-3">{{messages.region}} *</label>
						<div class="col-md-4">
											<select class="form-control" ng-model="consultar.region" ng-options="reg.id as reg.glosa for reg in regiones" class="form-control"  ng-change="seleccionarComuna(consultar.region)" ng-required="true">
																<option value="">-- Elija opción --</option>
											</select>
						</div>
	</div>
	<div class="form-group row">
						<label class="control-label col-xs-3">{{messages.comuna}}</label>
						<div class="col-xs-4">
											<select class="form-control" ng-model="consultar.comuna" ng-options="com.id as com.glosa for com in comunas" class="form-control" ng-disabled="!consultar.region" ng-required="true">
																<option value="">-- Elija opción --</option>
											</select>
						</div>
	</div> -->
	<div class="form-group row">
		<div class="col-md-3 form-inline">
			<button type="button" class="btn btn-primary" ng-click="buscarComite()" ng-disable="activarBuscar" ng-show="mostrarBuscar">
			
			<span ng-show="!activarBuscar">
				<span class="glyphicon glyphicon-search"></span>
				{{messages.BTN_buscar}}
			</span>
			
			<span ng-show="activarBuscar">
				<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
				Cargando...
			</span>
			
			</button>
		</div>
		<div class="pull-right" ng-show="viewTableEmpresa" style="margin-right: 15px" >
			<a class="btn btn-success" title="Export Table" ng-click="getExcel()" ng-href="{{ csv.link() }}" download="LIstadoNombradas.csv">
				{{messages.BTN_exportar}} <i class="glyphicon glyphicon-cloud-download"></i>
			</a>
		</div>
	</div>
	<div class="alert alert-success" ng-show="mostrarEliminar">
		<span ng-show="activarEliminar">
			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
			Eliminando registro...
		</span>
		<strong>Exito!</strong> El registro se a eliminado exitosamente.
	</div>
	<div class="row" ng-show="viewTableEmpresa">
		<div class="col-md-12">
			<table class="table table-bordered table-striped table-hover table-condensed customTable scroll" style="white-space: nowrap, width: 1200px" cellspacing="0" >
				<thead>
					<tr style="background-color: #D3D3D3">
						<th><small>{{messages.rutEmpresa}}</small></th>
						<th><small>{{messages.nombreRazon}}</small></th>
						<th><small>{{messages.rutRepresentante}}</small></th>
						<th><small>{{messages.nombreRepresentanteLegal}}</small></th>
						<th><small>{{messages.tipoComite}}</small></th>
						<th><small>{{messages.fechaActoEleccionario}}</small></th>
						<th><small>{{messages.comuna}}</small></th>
						<th><small>Modificar Comité</small></th>
						<th><small>Eliminar Comité</small></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "com in comite | limitTo : pageSize : (currentPage - 1) * pageSize track by $index">
						<td><a href ng-click="detalleComite(1, $index)">{{com.rutEmpresa}}</a></td>
						<td>{{com.nombreRazon}}</td>
						<td>{{com.rutRepresentante}}</td>
						<td>{{com.nombreRepresentanteLegal}}</td>
						<td>{{com.tipoComite}}</td>
						<td>{{com.fechaActoEleccionario}}</td>
						<td>{{com.comuna}}</td>
						<td><a type="button" class="btn" ng-click="modificarComite($index)"><i class="glyphicon glyphicon-pencil"></i></a></td>
						<td>
							<a type="button" class="btn" ng-really-message="¿Está seguro eliminar el registro?" ng-really-click="eliminarRegistro($index, com.idComite)" style="font-size: 20px"><i class="glyphicon glyphicon-trash" aria-hidden="true" style="color: red"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		<ul style="float: right;" uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" items-per-page="pageSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
	</div>
</div>
<br>
<br>
<br>
<div class="row" style="float:right; margin-right: 0px;">
	<button class="btn btn-danger" type="button" ui-sref="main.composite">{{messages.BTN_salir}}</button>
</div>
</form>