 <div class="modal-header">
     <h4 class="modal-title">Recordatorio Legal</h4>
 </div>
 <div class="modal-body">
 
 <p>Sr. Empleador (a):</p>

<br/>

<p>La presente constituye una declaración jurada, relativa a que los datos contenidos en ella sean todos verdaderos.</p>

<br/>

<p>Toda la información que usted ingresa es requerida bajo juramento de aportar valores veraces y completos in perjuicio de su eventual revisión por parte de funcionarios fiscalizadores de la Dirección del Trabajo.</p>

<br/>

<p>Declaro bajo juramento a la Autoridad del Trabajo, que los antecedentes son verídicos y corresponden a la realidad. Declaro conocer las disposiciones legales y penas a las que me expongo ante declaración jurada falsa en materia no contenciosa, ante la autoridad o sus agentes establecida en el artículo 210 del Código Penal.</p>

<br/>

<p>¿Desea continuar?</p>

 </div>
 <div class="modal-footer">
     <button type="button"  class="btn btn-danger" ng-click="cancel()">NO</button>
     <button type="button" class="btn btn-primary" ng-click="proceed()">SI</button>
 </div>
