<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Reemplazar Trabajador</h3>
</div>
<div class="modal-body" id="modal-body">
	<legend class="scheduler-border">Trabajador actual</legend>
	<div class="form-group col-lg-12">
		<label class="control-label col-sm-4">{{messages.rutPasaporte}}:</label>
		<div class="col-lg-8"><h5>{{rutSelect}}</h5></div>
	</div>
	<div class="form-group col-lg-12">
		<label class="control-label col-sm-4">{{messages.nombre}}:</label>
		<div class="col-lg-8"><h5>{{nombreSelect}}</h5></div>
	</div>
	<legend class="scheduler-border">Trabajador nuevo</legend>
	<div class="form-group col-lg-12">
		<div class="col-lg-4" ng-init ="documentoIdentificador = 'rut'" >
			<input type="radio" name="identificadorTrabajador" ng-click="documentoIdentificador = 'rut'"  ng-checked="true"/> {{messages.rut}}
			<input type="radio" style="margin-left: 30px;" ng-click="documentoIdentificador = 'pasaporte'" name="identificadorTrabajador" ng-checked='false'/> {{messages.pasaporte}} :
			*
		</div>
		<div class="col-lg-4">
			<input type="text" class="form-control" ng-style="{'border-color' : (messagevalidateRut == true) ? 'red' : ''}" placeholder="Ingrese Rut, ej: 11111111-1" aria-describedby="sizing-addon1" id="txt_rut" ng-keyup="$event.keyCode == 13 && validateRut()" ng-model="rutTrabajador">
			<p style="color: red" ng-show="messagevalidateRut">{{messagerut}}</p>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-warning" ng-click="agregarTrabajador(rutTrabajador)" ng-disabled="!validadoRut">{{messages.BTN_AnadirTrabajador}}</button>
		</div>
	</div>
	<div class="form-group col-lg-12">
		<label class="control-label col-sm-4">{{messages.nombre}}:</label>
		<div class="col-lg-8"><h5>{{nombreTrabajador}}</h5></div>
	</div>
	<div class="form-group col-lg-12">
		<label class="control-label col-sm-4">{{messages.labor}}*:</label>
		<div class="col-lg-4" ng-class="{'has-error' : ValidateLabor}"
            uib-tooltip="{{messages.messageValidate}}"
            tooltip-placement="top"
            tooltip-trigger="'mouseenter'"
            tooltip-enable="ValidateLabor">
			<select ng-model="LaborSelected" ng-options="lab.id as lab.glosa for lab in labores" class="form-control form-control-sm col-lg-12">
				<option value="">-- Seleccionar --</option>
			</select>
		</div>
	</div>
	<div class="form-group col-lg-12">
		<label class="control-label col-sm-4">{{messages.funcion}}*:</label>
		<div class="col-lg-4" ng-class="{'has-error' : ValidateFuncion}"
            uib-tooltip="{{messages.messageValidate}}"
            tooltip-placement="top"
            tooltip-trigger="'mouseenter'"
            tooltip-enable="ValidateFuncion">
			<select ng-model="FuncionSelected" ng-options="fun.id as fun.glosa for fun in funciones" class="form-control form-control-sm col-lg-12">
				<option value="">-- Seleccionar --</option>
			</select>
		</div>
	</div>
</div>
<div class="modal-footer" style="border-top:0">
	<button class="btn btn-info" type="button" ng-click="limpiar()">Limpiar</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
	<button class="btn btn-primary" type="button" ng-click="continuar()">Continuar</button>
</div>