<div class="container-fluid">
    <br>
    <legend class="scheduler-border col-lg-12">{{messages.fechaTurno}}</legend>
    
    <div class="form-group col-lg-12">
        <label class="control-label col-sm-4">{{messages.fechainicio}}*:</label>
        <div class="input-group col-lg-4" style="padding-left: 15px; padding-right: 14px;" ng-class="{'has-error' : messageValidateDate}">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date.value" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
            uib-tooltip="{{messageValidateDate}}"
            tooltip-placement="top"
            tooltip-trigger="'mouseenter'"
            tooltip-enable="messageValidateDate"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDataPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>
    <div class="form-group col-lg-12">
        <label class="control-label col-sm-4">{{messages.turnoNombrada}}*:</label>
        <div class="col-lg-4" ng-class="{'has-error' : ValidateTurno}"
            uib-tooltip="{{messages.messageValidate}}"
            tooltip-placement="top"
            tooltip-trigger="'mouseenter'"
            tooltip-enable="ValidateTurno">
            <select ng-model="nomIctl.TurnSelected" ng-options="turn.id as turn.glosa for turn in tiposTurno" class="form-control form-control-sm">
                <option value="">-- Seleccionar --</option>
            </select>
        </div>
    </div>
</div>
<div class="container-fluid">
    <legend class="scheduler-border col-lg-12">{{messages.lugarTrabajo}}</legend>
    <div class="form-group col-lg-12">
        <label class="control-label col-sm-4">{{messages.puerto}}:</label>
        <div class="col-lg-4"><h5>Algarrobo</h5></div>
    </div>
    <div class="form-group col-lg-12">
        <label class="control-label col-sm-4">{{messages.nave}}*:</label>
        <div class="col-lg-4" ng-class="{'has-error' : ValidateNave}"
            uib-tooltip="{{messages.messageValidate}}"
            tooltip-placement="top"
            tooltip-trigger="'mouseenter'"
            tooltip-enable="ValidateNave">
            <select ng-model="nomIctl.NaveSelected" ng-options="nav.id as nav.glosa for nav in naves" class="form-control form-control-sm col-lg-12">
                <option value="">-- Seleccionar --</option>
            </select>
        </div>
    </div>
    <div class="form-group col-lg-12">
        <label class="control-label col-sm-4">{{messages.lugar}}*:</label>
        <div class="col-lg-4" ng-class="{'has-error' : ValidateLugar}"
            uib-tooltip="{{messages.messageValidate}}"
            tooltip-placement="top"
            tooltip-trigger="'mouseenter'"
            tooltip-enable="ValidateLugar">
            <select ng-model="nomIctl.LocationSelected" ng-options="lug.id as lug.lugar for lug in lugares" class="form-control form-control-sm col-lg-12">
                <option value="">-- Seleccionar --</option>
            </select>
        </div>
    </div>
    <div class="form-group col-lg-12">
        <label class="control-label col-sm-4">{{messages.posicion}}:</label>
        <div class="col-lg-4">
            <a href="" ng-click="showModal('-33.3935486,-70.79356710000002')"  style="background-color: transparent; border-color: #000\9" class="btn col-md-1 glyphicon glyphicon-map-marker">-33.3935486,-70.79356710000002</a>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <legend class="scheduler-border col-lg-12">{{messages.trabajador}}</legend>
    <div class="col-lg-12">
        <div class="col-lg-4" ng-init ="documentoIdentificador = 'rut'" >
            <input type="radio"  name="identificadorTrabajador" ng-click="documentoIdentificador = 'rut'" ng-checked="true"/> {{messages.rut}}
            <input type="radio" style="margin-left: 30px;" ng-click="documentoIdentificador = 'pasaporte'" name="identificadorTrabajador" ng-checked='false'/> {{messages.pasaporte}} :
            *
        </div>
        <div class="col-lg-4" >
            <input type="text" class="form-control" ng-style="{'border-color' : (messagevalidateRut == true) ? 'red' : ''}" placeholder="Ingrese Rut, ej: 11111111-1" aria-describedby="sizing-addon1" id="txt_rut" ng-keyup="$event.keyCode == 13 && validateRut(documentoIdentificador)" ng-model="rutTrabajador">
            <p style="color: red" ng-show="messagevalidateRut">{{messagerut}}</p>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-warning" ng-click="agregarTrabajador(rutTrabajador,documentoIdentificador)" ng-disabled="!validadoRut">{{messages.BTN_AnadirTrabajador}}</button>
        </div>
    </div>
    <div class="container-fluid" style="overflow: auto;" ng-show="showTableTrabajadores">
        <br>
        
        <table class="table table-bordered table-striped table-hover table-condensed customTable scroll" style="white-space: nowrap, width: 1200px" cellspacing="0"  ng-enabled="verTablaTrabajador">
            <thead>
                <tr style="background-color: #D3D3D3">
                    <th><small>Rut o Pasaporte</small></th>
                    <th><small>Nombres</small></th>
                    <th><small>Apellidos</small></th>
                    <th><small>Labor</small></th>
                    <th><small>Función</small></th>
                    <th><small>Tipo de contrato</small></th>
                    <th><small>Tipo de jornada</small></th>
                    <th><small>Total horas semanales</small></th>
                    <th><small>Remuneración Bruta (CLP)</small></th>
                    <th><small>Eliminar</small></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='datosTrabajador in tableDatosTrabajadores'>
                    <td>{{datosTrabajador.rutPasaporteTrabajador}}-{{datosTrabajador.dv}}</td>
                    <td>{{datosTrabajador.nombresTrabajador}}</td>
                    <td>{{datosTrabajador.apellidosTrabajador}}</td>
                    <td>
                        <select ng-model="datosTrabajador.laborSelect[$index]" ng-options="lab.id as lab.glosa for lab in labores" class="form-control">
                            <option value="">-- Seleccionar --</option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="datosTrabajador.funcionSelect[$index]" ng-options="fun.id as fun.glosa for fun in funciones" class="form-control">
                            <option value="">-- Seleccionar --</option>
                        </select>
                    </td>
                    <td>{{datosTrabajador.tipoContratoTrabajador}}</td>
                    <td>
                        <select ng-model="datosTrabajador.jornadaSelect[$index]" ng-options="jor.id as jor.glosa for jor in jornadas" class="form-control">
                            <option value="">-- Seleccionar --</option>
                        </select>
                    </td>
                    
                    <td>{{datosTrabajador.totalHorasSemanales}}</td>
                    <td>{{datosTrabajador.remuneracionBrutaTrabajador}}</td>
                    <td>
                        <button class="btn btn-danger" type="button" ng-really-message="¿Está seguro eliminar el registro?" ng-really-click="eliminarTrabajador(datosTrabajador.idTrabajador)"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="btn-group pull-right">
            <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
            <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
            <button type='button' class='btn btn-default' ng-disabled='currentPage >= tableDatosTrabajadores.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
        </div> -->
    </div>
</div>
<br>
<br>
<br>
<div class="container-fluid col-lg-6  pull-left">
    <label class="control-label">{{messages.camposObligatorios}}</label>
</div>
<div class="container-fluid col-lg-6  pull-right">
    <div class="pull-right">
        <button class="btn btn-default " type="button" ng-click="cleanForm()">{{messages.BTN_limpiar}}</button>
        <button class="btn btn-warning" ui-sref="main.composite" type="submit">{{messages.BTN_cancelar}}</button>
        <button href="#" class="btn btn-primary" ng-click="changeTabByButton(1)" data-toggle="tab">{{messages.BTN_continuar}}</button>
    </div>
</div>