<div class="container-fluid" style="overflow: auto;">
    <br>
    
    <table ng-init='configPages()' class="table table-bordered table-striped table-hover table-condensed customTable scroll" style="white-space: nowrap, width: 1200px" cellspacing="0"  ng-enabled="verTablaTrabajador">
        <thead>
            <tr style="background-color: #D3D3D3">
                <th><small>N°</small></th>
                <th><small>Rut o Pasaporte</small></th>
                <th><small>Nombres</small></th>
                <th><small>Apellidos</small></th>
                <th><small>Turno</small></th>
                <th><small>Fecha Inicio Nombrada</small></th>
                <th><small>Fecha Termino Nombrada</small></th>
                <th><small>Estado Trabajador</small></th>
                <th><small>Reemplazar Trabajador</small></th>
                <th><small>Extender Jornada a Trabajador</small></th>
                <th><small>Eliminar Trabajador</small></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='datosTrabajador in tableDatosTrabajadores | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
                <td>{{datosTrabajador.id}}</td>
                <td>{{datosTrabajador.rutPasaporteTrabajador}}</td>
                <td>{{datosTrabajador.nombresTrabajador}}</td>
                <td>{{datosTrabajador.apellidosTrabajador}}</td>
                <td>{{datosTrabajador.turnoTrabajador}}</td>
                <td>{{datosTrabajador.fechaInicioNombrada}}</td>
                <td>{{datosTrabajador.fechaTerminoNombrada}}</td>
                <td>{{datosTrabajador.estadoTrabajador}}</td>
                <td style="text-align: center">
                   <a type="button" class="btn" href ng-click="reemplazarTrabajador(datosTrabajador.rutPasaporteTrabajador,datosTrabajador.nombresTrabajador)" style="font-size: 20px"><i class="glyphicon glyphicon-transfer" aria-hidden="true"></i></a>
                </td>
                <td style="text-align: center">
                   <input type="checkbox" ng-model="extenderJornada">
                </td>
                <td style="text-align: center">
                   <input type="checkbox" ng-model="eliminarTrabajador">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group pull-right">
        <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
        <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
        <button type='button' class='btn btn-default' ng-disabled='currentPage >= tableDatosTrabajadores.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
    </div>
</div>
<br>
<br>
<div class="container-fluid col-lg-6  pull-right">
    <div class="pull-right">
        <button class="btn btn-default" type="submit">{{messages.BTN_cancelar}}</button>
        <button class="btn btn-primary" type="button" ng-really-message="Usted ha seleccionado modificar a los trabajadores seleccionados.<br> ¿Confirma que desea continuar?" ng-really-click="modificarTrabajadores()">{{messages.BTN_Guardar}}</button>
    </div>
</div>

