<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Recordatorio Legal</h3>
</div>
<div class="modal-body" id="modal-body">
	<p>Sr. Empleador (a):</p>
	<p>La presente constituye una declaración jurada, relativa a que los datos contenidos en ella sean todos verdaderos.</p>
	<p>Toda la información que usted ingresa es requerida bajo juramento de aportar valores veraces y completos in perjuicio de su eventual revisión por parte de funcionarios fiscalizadores de la Dirección del Trabajo.</p>
	<p>Declaro bajo juramento a la Autoridad del Trabajo, que los antecedentes son verídicos y corresponden a la realidad. Declaro conocer las disposiciones legales y penas a las que me expongo ante declaración jurada falsa en materia no contenciosa, ante la autoridad o sus agentes establecida en el artículo 210 del Código Penal.</p>
	<p>¿Desea continuar?</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">SI</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">NO</button>
</div>