<div class="container-fluid">
	<legend class="scheduler-border col-lg-12">{{messages.consultaNombrada}}</legend>
	<br>
	<div class="col-md-6">
		<div class="form-group col-lg-12">
			<label class="control-label col-sm-4">{{messages.idNombrada}}:</label>
			<div class="col-lg-8">
				<input class="form-control" type="text" name="input" required />
			</div>
		</div>
		<div class="form-group col-lg-12">
			<div class="col-lg-4" ng-init ="documentoIdentificador = 'rut'" >
				<input type="radio"   name="identificadorTrabajador" ng-click="documentoIdentificador = 'rut'"  ng-checked="true"/><b>{{messages.rut}}</b>
				<input type="radio" ng-click="documentoIdentificador = 'pasaporte'" name="identificadorTrabajador" ng-checked='false'/><b> {{messages.pasaporte}} :</b>
			</div>
			<div class="col-lg-8">
				<input class="form-control" type="text" name="input" required />
			</div>
		</div>
		<div class="form-group col-lg-12">
			<label class="control-label col-sm-4">{{messages.labor}}*:</label>
			<div class="col-lg-8">
				<select ng-model="LaborSelected" ng-options="lab.value as lab.displayName for lab in getLabor()" class="form-control form-control-sm col-lg-12">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
		</div>
		<div class="form-group col-lg-12">
			<label class="control-label col-sm-4">{{messages.nave}}*:</label>
			<div class="col-lg-8">
				<input class="form-control" type="text" name="input" required />
			</div>
		</div>
		<div class="form-group col-lg-12">
			<label class="control-label col-sm-4">{{messages.lugar}}*:</label>
			<div class="col-lg-8">
				<select ng-model="LugarSelected" ng-options="lug.value as lug.displayName for lug in getLugar()" class="form-control form-control-sm col-lg-12">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group col-lg-12">
			<label class="control-label col-sm-4">{{messages.fechainicio}}:</label>
			<div class="input-group col-lg-8" style="padding-left: 15px; padding-right: 36px;">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
				<p style="color: red" class="pull-left" ng-show="messageValidate == 'date'">{{messageCamposObligatorios}}</p>
				<p style="color: red" class="pull-left" ng-show="messageValidateDate == 'date'">{{messageDate}}</p>
			</div>
		</div>
		<div class="form-group col-lg-12">
			<label class="control-label col-sm-4">{{messages.estado}}:</label>
			<div class="col-lg-8">
				<select ng-model="EstadoSelected" ng-options="est.value as est.displayName for est in getEstados()" class="form-control form-control">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
		</div>
		<div class="form-group col-lg-12">
			<label class="control-label col-sm-4">{{messages.funcion}}:</label>
			<div class="col-lg-8">
				<select ng-model="FuncionSelected" ng-options="fun.value as fun.displayName for fun in getFuncion()" class="form-control form-control">
					<option value="">-- Seleccionar --</option>
				</select>
			</div>
		</div>
		<div class="form-group col-lg-12">
			<label class="control-label col-sm-4">{{messages.sitio}}:</label>
			<div class="col-lg-8">
				<input class="form-control" type="text" name="input" required />
			</div>
		</div>
	</div>
</div>
<br>
<div class="container-fluid col-lg-12">
	<div class="col-md-6 pull-left">
		<button class="btn btn-primary " type="button" ng-click="buscarNombrada()">{{messages.BTN_buscar}}</button>
		<button class="btn btn-default" type="submit">{{messages.BTN_limpiar}}</button>
	</div>
	<div class="pull-right" ng-show="mostrarTabla" >
		<a class="btn btn-success" title="Export Table" ng-click="csv.generate()" ng-href="{{ csv.link() }}" download="LIstadoNombradas.csv">
			{{messages.BTN_ExportarExcel}} <i class="glyphicon glyphicon-cloud-download"></i>
		</a>
	</div>
</div>
<br>
<br>
<div class="container-fluid col-lg-12" style="overflow: auto;" ng-show="mostrarTabla">
	<br>
	<table ng-init='configPages()' class="table table-bordered table-striped table-hover table-condensed customTable scroll" style="white-space: nowrap, width: 1200px"  cellspacing="0" export-csv="csv" separator=";" export-csv-ignore="ignore">
		<thead>
			<tr style="background-color: #D3D3D3">
				<th><small>Id Nombrada</small></th>
				<th><small>Fecha Inicio de Nombrada</small></th>
				<th><small>Fecha Termino de Nombrada</small></th>
				<th><small>Nave</small></th>
				<th><small>Sitio</small></th>
				<th><small>Lugar</small></th>
				<th><small>Estado de Nombrada</small></th>
				<th><small>Modificar Nombrada</small></th>
				<th><small>Eliminar Nombrada</small></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="Nombrada in getNombradas()">
				<td><a href ng-click="listadoNombrada()">{{Nombrada.IDNombrada}}</a></td>
				<td>{{Nombrada.fechaInicioNombrada}}</td>
				<td>{{Nombrada.fechaTerminoNombrada}}</td>
				<td>{{Nombrada.naveNombrada}}</td>
				<td>{{Nombrada.sitioNombrada}}</td>
				<td>{{Nombrada.LugarNombrada}}</td>
				<td>{{Nombrada.EstadoNombrada}}</td>
				<td><a type="button" class="btn" href ui-sref="main.composite.nombradas_modificar" style="font-size: 20px"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a></td>
				<td><a type="button" class="btn" ng-really-message="¿Está seguro eliminar el registro?" ng-really-click="eliminarTrabajador(datosTrabajador.id)" style="font-size: 20px"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a></td>
			</tr>
		</tbody>
	</table>
	<div class="btn-group pull-right">
		<button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
		<button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
		<button type='button' class='btn btn-default' ng-disabled='currentPage >= tableDatosTrabajadores.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
	</div>
</div>