<form name="acuerdoJornada" novalidate>
   <div class="modal-header">
       <h4 class="modal-title" id="myModalLabel">{{messages.acuerdoJornadaLaboral}}</h4>
   </div>
   <div class="modal-body">

       <table class="table table-striped table-bordered table-responsive table-hover ">
           <thead >
               <tr>
                   <th><a href role="button" ng-click="marcarDias()" class="glyphicon glyphicon-arrow-down"></a></th>
                   <th><small>{{messages.diaDeLaSemana}}</small> </span></th>
                   <th><small>{{messages.horaInicio}}</small> <a href role="button" ng-click="replicarHoras()" class="glyphicon glyphicon-arrow-down"></a></th>
                   <th><small>{{messages.horaTermino}}</small> <a href role="button" ng-click="replicarHoras()" class="glyphicon glyphicon-arrow-down"></a></th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="jornada in acuerdoJornadaLaboralModel">
               
                   <td>
                   <span uib-tooltip="{{tooltipMSG}}" tooltip-trigger="none" tooltip-is-open="jornada.tooltipOpen"></span>
                   <input type="checkbox" ng-model="jornada.selected" aria-label="false" ng-click="validarForm(acuerdoJornada)">
                   
                   </td>
                   
                   <td><h5>{{jornada.dayLabel}}</h5></td>
                   <td>
                        <div uib-timepicker ng-model="jornada.scheduleStart" show-meridian="false" show-spinners="false"></div>                                                                
                   </td>
                   <td>
                        <div uib-timepicker ng-model="jornada.scheduleEnd" show-meridian="false" show-spinners="false"></div>
                   </td>
               </tr>
           </tbody>
       </table>                    

   </div>
	 <div class="form-inline modal-footer">
	    <button type="reset" ng-click="cleanAcuerdoJornadaLaboral()" class="btn btn-default">{{messages.BTN_limpiar}}</button>
	    <button type="reset" ng-click="dismissModal()" class="btn btn-danger">{{messages.BTN_cancelar}}</button>
	    
	    <button type="submit" ng-click="saveAcuerdoJornadaLaboral(acuerdoJornada)" class="btn btn-primary"
	            uib-tooltip="{{tooltipMSG}}" tooltip-trigger="none" tooltip-is-open="tooltipOpen">
	            
	            {{messages.BTN_aceptar}}
	   </button>
	    
	</div>
</form>