	<!--  Domicilio -->
	
	<div class="form-group row">

		<label for="domicilioGoogleMaps" class="col-md-3 col-form-label">{{messages.domicilio}} *</label>

		<div class="col-md-5">

			<!-- búsqueda google maps -->
			
            <input ng-model="trabajador.domicilio.fullAddress" id="domicilioGoogleMaps" type="text" class="form-control"
            placeholder="{{messages.domicilioGMaps}}">

			<div class="row">
			
			<div class="col-md-8" style="padding-right:0;">

				<!-- región -->
				
			    <label class="" for="region">Región:</label>                
                <select id="region" name="region" ng-model="trabajador.domicilio.idRegion" ng-change="cambioRegion()"
                 ng-options="operator.id as operator.glosa for operator in regiones" style="width:23.5em;" ng-required="true">
                	<option value="">{{messages.selectElijaOpcion}}</option>
                </select>
			</div>
			
			<div class="col-md-4" style="padding-left:0;">
			
				<!-- comuna -->
				
                <label class="" for="comuna">Comuna:</label> 
                <select id="comuna" name="comuna" ng-model="trabajador.domicilio.idComuna" ng-required="true"
                ng-options="operator.id as operator.glosa for operator in comunas" style="width:12em;">
                <option value="">{{messages.selectElijaOpcion}}</option>
                </select>
			</div>			
			</div>
			
			<div class="row">
			<div class="col-md-5">
			
				<!-- calle -->
				
                <label class="" for="calle">Calle:</label>
                <input type="text" size="20" id="calle" name="calle" placeholder="calle" ng-model="trabajador.domicilio.calle" ng-required="true">			
			</div>
			<div class="col-md-2">
			
				<!-- número -->
				
                <label class="" for="numero">Número:</label>
                <input type="text" size="4" id="numero" name="numero" placeholder="numero" ng-model="trabajador.domicilio.numero" ng-required="true">	
			</div>	
			<div class="col-md-2">
			
				<!-- block -->
			
                <label class="" for="block">Block:</label>
                <input type="text" size="4" id="block" name="block" placeholder="block" ng-model="trabajador.domicilio.block">			
			</div>
			<div class="col-md-2">
			
				<!-- depto -->
			
                <label class="" for="depto">depto:</label>
                <input type="text" size="3" id="depto" name="depto" placeholder="depto" ng-nodel="trabajador.domicilio.depto">			
			</div>			
			</div>
		</div>
	</div>	

	<!-- Email -->

	<div class="form-group row">
		<label for="email" class="col-md-3 col-form-label">{{messages.email}}</label>
		
		<div class="col-md-4">
                <input id="email" ng-model="trabajador.email" type="email" class="form-control"
                placeholder="{{messages.email}}">
		</div>
	</div>	
	
	<!-- AFP Trabajador -->
	
	<div class="form-group row">
		<label for="afp-trabajador" class="col-md-3 col-form-label">{{messages.AFPTrabajador}}</label>
		
		<div class="col-md-4">
                <select ng-model="trabajador.AFP" ng-options="item as item.glosa for item in AFP track by item.id"
                 		class="form-control form-control-sm col-md-12" id="afp-trabajador">
                 		<option value="">{{messages.selectElijaOpcion}}</option>
                </select>
		</div>
	</div>

	<!-- ISAPRE Trabajador -->
	
	<div class="form-group row">
		<label for="isapre-trabajador" class="col-md-3 col-form-label">{{messages.ISAPRETrabajador}}</label>
		
		<div class="col-md-4">
			<select ng-model="trabajador.ISAPRE" ng-options="item as item.glosa for item in ISAPRE track by item.id"
 					class="form-control form-control-sm col-md-12" id="isapre-trabajador">
 					<option value="">{{messages.selectElijaOpcion}}</option>
 			</select>
		</div>
	</div>
