<div class="row">

        <h3>{{messages.BIENVENIDO_TITLE}}</h3>
        <p>{{messages.SIST_DESCR}}</p>

    <div class="row" ng-show="true">


        <div class="col-md-4">
            <h2 class="form-signin-heading">{{messages.CLAVE_EMPRESA}}</h2>
            <form name="form" class="form-signin" ng-submit="ingresarClaveEmpresa()">
                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <input type="text" name="rut" id="rutEmpresa" class="form-control" ng-model="loginData.username" placeholder="{{messages.CLAVE_EMPRESA_RUT}}" required />
                    <span ng-show="form.loginData.userName.$dirty && form.loginData.userName.$error.required" class="help-block">{{messages.CLAVE_EMPRESA_RUT_REQ}}</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <input type="password" name="password" id="password" class="form-control" ng-model="loginData.password" placeholder="{{messages.CLAVE_EMPRESA_CLAVE}}" required />
                    <span ng-show="form.loginData.password.$dirty && form.loginData.password.$error.required" class="help-block">{{messages.CLAVE_EMPRESA_CLAVE_REQ}}</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || logctl.dataLoading" class="btn btn-primary">{{messages.CLAVE_EMPRESA_BTN}} &raquo;</button>
                </div>
                <div uib-alert class="col-md-10 alert alert-danger" ng-show="alert.active" dismiss-on-timeout="5000"
                	ng-class="'alert-' + (alert.type || 'warning')" close="alert.close()">
                	{{alert.msg}}
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <h2 class="form-signin-heading">{{messages.CLAVE_UNICA}}</h2>
			<button class="btn btn-default" ng-click="loginClaveUnica()">
				<img src="img/btn_claveunica_202px.png"/>
			</button>
        </div>
    </div>
</div>