<form name="formTab2">

	<h4>{{messages.informacionDelTrabajador}}</h4>
	<hr/>
	
	<div class="form-group row">
       <div class="form-check col-md-3">
			<div ng-show="trabajador.documentoIdentificador == 'rut'">{{messages.rut}}</div>
			<div ng-show="trabajador.documentoIdentificador == 'pasaporte'">{{messages.pasaporteTrabajador}}</div>
	   </div>
		<div class="col-md-4">{{trabajador.numDocIdentificador}}</div>
    </div>

	<div class="form-group row">
		<div class="col-md-3">{{messages.nombresTrabajador}}</div>
		<div class="col-md-4">{{trabajador.nombres}}</div>
	</div>

	<div class="form-group row">
		<div class="col-md-3">{{messages.apellidosTrabajador}}</div>
		<div class="col-md-4">{{trabajador.getApellidos()}}</div>
	</div>
	
	<div class="form-group row">
		<div class="col-md-3">{{messages.nacionalidadTrabajador}}</div>
		<div class="col-md-4">{{trabajador.nacionalidad.glosa}}</div>
	</div>
	
	<div class="form-group row">
		<div class="col-md-3">{{messages.sexoTrabajador}}</div>
		<div class="col-md-4">{{trabajador.sexo.glosa}}</div>
	</div>

	<div class="form-group row">
		<div class="col-md-3">{{messages.fechaDeNacimientoTrabajador}}</div>
		<div class="col-md-4">{{trabajador.fechaNacimiento | date : dateFormat}}</div>
	</div>

	<div class="form-group row">
		<div class="col-md-3">{{messages.estadoCivilTrabajador}}</div>
		<div class="col-md-4">{{trabajador.estadoCivil.glosa}}</div>
	</div>

	<!--  Domicilio -->
	
	<div class="form-group row">
		<label for="domicilioGoogleMaps" class="col-md-3 col-form-label">{{messages.domicilio}} *</label>
		
		<div class="col-md-4">

                <input ng-model="trabajador.domicilio" id="domicilioGoogleMaps" type="text" class="form-control"
                placeholder="{{messages.domicilio}}" ng-required="true">
                
                <select name="region" ng-model="trabajador.domicilio.idRegion"
                 ng-options="operator.id as operator.glosa for operator in regiones">
                	<option value="">{{messages.selectElijaOpcion}}</option>
                </select>

                <select name="comuna" ng-model="trabajador.domicilio.idComuna"
                ng-options="operator.id as operator.glosa for operator in comunas">
                	<option value="">{{messages.selectElijaOpcion}}</option>
                </select>
                
                <input type="text" name="calle" placeholder="calle"><input type="number" name="numero" placeholder="numero">
                <input type="text" name="block" placeholder="block"><input type="text" name="depto" placeholder="depto">
		</div>
	</div>	

	<!-- Email -->

	<div class="form-group row">
		<label for="email" class="col-md-3 col-form-label">{{messages.email}}</label>
		
		<div class="col-md-4">
                <input id="email" ng-model="trabajador.email" type="email" class="form-control"
                placeholder="{{messages.email}}">
		</div>
	</div>	
	
	<!-- AFP Trabajador -->
	
	<div class="form-group row" ng-show="trabajador.documentoIdentificador == 'rut'">
		<label for="afp-trabajador" class="col-md-3 col-form-label">{{messages.AFPTrabajador}}</label>
		
		<div class="col-md-4">
                <select ng-model="trabajador.AFPSelected"  ng-options="operator as operator.glosa for operator in AFP"
                 		class="form-control form-control-sm col-md-12" id="afp-trabajador">
                 		<option value="">{{messages.selectElijaOpcion}}</option>
                </select>
		</div>
	</div>

	<!-- ISAPRE Trabajador -->
	
	<div class="form-group row" ng-show="trabajador.documentoIdentificador == 'rut'">
		<label for="isapre-trabajador" class="col-md-3 col-form-label">{{messages.ISAPRETrabajador}}</label>
		
		<div class="col-md-4">
			<select ng-model="trabajador.ISAPRESelected" ng-options="operator as operator.glosa for operator in ISAPRE"
 					class="form-control form-control-sm col-md-12" id="isapre-trabajador">
 					<option value="">{{messages.selectElijaOpcion}}</option>
 			</select>
		</div>
	</div>

	<div class="row">
	    <div class="col-md-9">
	       <small>{{messages.mandatoryFields}}</small>                 
	    </div>
	    
	    <div class="col-md-3 form-inline">
	    
        	<button class="btn btn-warning" type="reset" ng-click="ingresoLimpiar()">{{messages.BTN_limpiar}}</button>
        	<a href ui-sref="main.composite" class="btn btn-danger" role="button">{{messages.BTN_cancelar}}</a>
        	<button class="btn btn-primary" type="submit" ng-click="ingresoContinue(2,formTab2)">{{messages.BTN_continuar}}</button>
        	        	        
        </div>
	</div>

</form>