<form name="formTab2">

	<h4>{{messages.informacionDelTrabajador}}</h4>
	<hr/>
	
	<!-- datos sólo lectura del trabajador -->
	<ng-include src="'relacion_laboral/datos_trabajador_ro.fragment.html'"></ng-include>

	<!-- form domicilio, email, afp, isapre -->
	<ng-include src="'relacion_laboral/datos_trabajador.fragment.html'"></ng-include>

	<div class="row">
	    <div class="col-md-9">
	       <small>{{messages.mandatoryFields}}</small>                 
	    </div>
	    
	    <div class="col-md-3 form-inline">
	    
        	<button class="btn btn-warning" type="reset" ng-click="ingresoLimpiar()">{{messages.BTN_limpiar}}</button>
        	<button class="btn btn-danger" type="reset" ng-click="ingresoCancelar()">{{messages.BTN_cancelar}}</button>
        	<button class="btn btn-primary" type="submit" ng-click="ingresoContinue(2,formTab2)">{{messages.BTN_continuar}}</button>
        	        	        
        </div>
	</div>

</form>