<form name="acuerdoDescanso" class="form-horizontal">
 <div class="modal-header">
     <h4 class="modal-title" id="acuerdo-colectivo-descanso-modal">{{messages.acuerdoColectivoDescanso}}</h4>
 </div>
 <div class="modal-body">

	<div class="form-group row">
		<label for="tipoContrato" class="col-md-4 control-label">{{messages.rutSindicato}} *</label>
		
		<div class="col-md-8">
	       	<input type="text" id="idSindicato" name="idSindicato" ng-model="acuerdoModal.idSindicato"
	       	 placeholder="{{messages.ingreseRut}}" class="form-control" ng-required="true">
		</div>
	</div>
    
    <div class="form-group row">
    
           <label for="horaDesde" class="col-md-4 control-label">{{messages.horaDesde}} *</label>
            <div class="col-md-8">
             		<div id="horaDesde" uib-timepicker ng-model="acuerdoModal.horaDesde" show-meridian="false"
             		     show-spinners="false" ng-required="true" ng-change="validarHora()"></div>
    		</div>
    </div>
    
    <div class="form-group row">
    
          <label for="horaHasta" class="col-md-4 control-label">{{messages.horaHasta}} *</label>
          <div class="col-md-8">
             	<div id="horaHasta" uib-timepicker ng-model="acuerdoModal.horaHasta" show-meridian="false"
             	     show-spinners="false" ng-required="true" ng-change="validarHora()"></div>
             	<span uib-tooltip="{{messages.validacionHoras}}" tooltip-is-open="validacionHoraOpen" tooltip-placement="bottom"></span>
          </div>
    </div>

 </div>
 <div class="modal-footer">
     <button type="reset" class="btn btn-default">{{messages.BTN_limpiar}}</button>
     <button type="reset"  class="btn btn-danger" ng-click="dismissModal(acuerdoDescanso)">{{messages.BTN_cancelar}}</button>
     <button type="submit" class="btn btn-primary" ng-disabled="acuerdoDescanso.$invalid"
             ng-click="saveAcuerdoColectivoDescanso(acuerdoDescanso)">{{messages.BTN_guardar}}</button>
 </div>
 </form>