
    <h4>{{messages.datosDelEmpleador}}</h4>
    <hr/>
    
    <div class="row">
        <div class="col-md-3"><strong>{{messages.rut}}</strong></div>
        <div class="col-md-5"><strong>{{rutEmpleadorValueData}}</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>{{messages.nombreEmpresa}}</strong></div>
        <div class="col-md-5"><strong>{{nombreEmpresaEmpleadorData}}</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>{{messages.tipoEmpresa}}</strong></div>
        <div class="col-md-5 "><strong>{{tipoEmpresaEmpleadorData}}</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>{{messages.domicilio}}</strong></div>
        <div class="col-md-5"><strong>{{domicilioEmpleadorData}}</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>{{messages.email}}</strong></div>
        <div class="col-md-5"><strong>{{emailEmpleadorData}}</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>{{messages.terminoDeVigencia}}</strong></div>
        <div class="col-md-5"><strong>{{terminoDeVigenciaEmpleadorData}}</strong></div>
    </div>

	<br/>
    <h4>{{messages.representanteLegal}}</h4>
    <hr/>
    
    <div class="row">
        <div class="col-md-3"><strong>{{messages.rut}}</strong></div>
        <div class="col-md-5"><strong>{{rutRepresentanteLegalData}}</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>{{messages.nombreCompleto}}</strong></div>
        <div class="col-md-5"><strong>{{nombreCompletoRepresentanteLegalData}}</strong></div>
    </div>

	<br/>
    <h4>{{messages.usuarioQueRegistra}}</h4>
    <hr/>
    <div class="row">
        <div class="col-md-3"><strong>{{messages.rutUsuario}}</strong></div>
        <div class="col-md-5"><strong>{{rutUsuarioQueRegistraData}}</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>{{messages.nombreCompletoUsuario}}</strong></div>
        <div class="col-md-5"><strong>{{nombreCompletoUsuarioQueRegistraData}}</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>{{messages.cargoEnLaEmpresa}}</strong></div>
        <div class="col-md-5"><strong>{{cargoEnLaEmpresaQueRegistraData}}</strong></div>
    </div>
    
    <div class="row justify-content-end">
    	<div class="col-4 form-inline">
        	<button class="btn btn-danger" ng-click="ingresoCancel()">{{messages.BTN_cancelar}}</button>
        	<button class="btn btn-primary" ng-click="ingresoContinue('Tab1')">{{messages.BTN_continuar}}</button>
        	        	        
    	</div>
    </div>
       

