<form name="formTab2">

	<h4>{{messages.informacionDelTrabajador}}</h4>
	<hr/>

	<!-- Rut / Pasaporte -->
	
	<div class="form-group row">
       <div class="form-check col-md-3">
       
         <label class="form-check-label">            
           <input class="form-check-input" type="radio" name="identificadorTrabajador" ng-model="trabajador.documentoIdentificador"
           	      id="identificadorTrabajador" value="rut"  ng-checked="true" ng-click="clearDataTrabajador()"/>
           	{{messages.rut}} 
         </label>
         
        <label class="form-check-label">
         	<input type="radio" value="pasaporte" ng-model="trabajador.documentoIdentificador"
          		   name="identificadorTrabajador" ng-checked="false" ng-click="clearDataTrabajador()"/>
          		   {{messages.pasaporteTrabajador}}
         </label>
    
       </div>
       
		<div class="col-md-4 form-inline">
			<input id="inputRut" ng-model="trabajador.numDocIdentificador" ng-required="true"="true"  type="text" class="form-control">
			
			 <button type="button" class="btn btn-primary" ng-show="trabajador.documentoIdentificador == 'rut'"
			         ng-click="loadDataTrabajador(trabajador.numDocIdentificador)" ng-disable="trabajadorLoading">
			 
			 <span ng-show="!trabajadorLoading">
			 	   <span class="glyphicon glyphicon-search"></span>
			       Buscar
			 </span>
			 
			 <span ng-show="trabajadorLoading">
				 <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
				  Cargando... 
			 </span>
			  
			  </button>
			 
		</div>
    </div>
    
	<!-- Nombres Trabajador-->
	
	<div class="form-group row">
		<label for="nombres" class="col-md-3 col-form-label">{{messages.nombresTrabajador}} *</label>
		
		<div class="col-md-4">
			<input id="nombres" ng-model="trabajador.nombres" type="text" ng-required="true"
			       class="form-control" placeholder="{{messages.nombresTrabajador}}"
			       ng-readonly="trabajador.documentoIdentificador == 'rut'">
		</div>
	</div>

	<!-- Apellidos Trabajador-->

	<div class="form-group row">
		<label for="apellidos" class="col-md-3 col-form-label">{{messages.apellidosTrabajador}} *</label>
		
		<div class="col-md-4">
			<input id="apellidos" ng-model="trabajador.apellidos" type="text" ng-required="true"
			       class="form-control" placeholder="{{messages.apellidosTrabajador}}"
			       ng-readonly="trabajador.documentoIdentificador == 'rut'">
		</div>
	</div>

	<!-- Nacionalidad Trabajador -->
	
	<div class="form-group row">
		<label for="nacionalidad-trabajador" class="col-md-3 col-form-label">{{messages.nacionalidadTrabajador}} *</label>
		
		<div class="col-md-4">
			       
			 <select ng-model="trabajador.nacionalidad.id" ng-show ="trabajador.documentoIdentificador == 'pasaporte'" id="nacionalidad-trabajador"
			  class="form-control" ng-options="operator.id as operator.gentilicio for operator in nacionalidades" ng-required="trabajador.documentoIdentificador == 'pasaporte'">
			 	<option value="">{{messages.selectElijaOpcion}}</option>
			 </select>
			 
			<span ng-show ="trabajador.documentoIdentificador == 'rut'">{{trabajador.nacionalidad.glosa}}</span>
		</div>
	</div>

	<!-- Sexo Trabajador-->

	<div class="form-group row">
		<label for="sexo" class="col-md-3 col-form-label">{{messages.sexoTrabajador}} *</label>
		
		<div class="col-md-4">
			 <select ng-model="trabajador.sexo.id" class="form-control" ng-readonly="trabajador.documentoIdentificador == 'rut'"
			 ng-required="trabajador.documentoIdentificador == 'pasaporte'" ng-show ="trabajador.documentoIdentificador == 'pasaporte'">
			 	<option value="">{{messages.selectElijaOpcion}}</option>
			 	<option value="1">Masculino</option>
			 	<option value="2">Femenino</option>
			 </select>

			<span ng-show ="trabajador.documentoIdentificador == 'rut'">{{trabajador.sexo.glosa}}</span> 
		</div>
	</div>

	<!-- Fecha de nacimiento Trabajador -->

	<div class="form-group row">
		<label for="fecha-nac-trabajador" class="col-md-3 col-form-label">{{messages.fechaDeNacimientoTrabajador}}</label>
		
		<div class="col-md-4">
		    <p class="input-group">
		      <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="trabajador.fechaDeNacimiento"
		       is-open="popupFecNacTrab.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
		       id="fecha-nac-trabajador" ng-readonly="trabajador.documentoIdentificador == 'rut'"/>
		       
		      <span class="input-group-btn" >
		        <button type="button" class="btn btn-default" ng-click="openDatePicker(popupFecNacTrab)"
		        		ng-disabled="trabajador.documentoIdentificador == 'rut'">
		        	<i class="glyphicon glyphicon-calendar"></i>
		        </button>
		      </span>
		      </p>
		</div>
	</div>

	<!--  Estado Civil Trabajador -->
	
	<div class="form-group row">
		<label for="lugar-nacimiento-trabajador" class="col-md-3 col-form-label">{{messages.estadoCivilTrabajador}} *</label>
		
		<div class="col-md-4">

			 <select ng-model="trabajador.estadoCivil.id" ng-show ="trabajador.documentoIdentificador == 'pasaporte'"
			  class="form-control" ng-options="operator.id as operator.glosa for operator in estadoCivil" ng-required="trabajador.documentoIdentificador == 'pasaporte'">
			 	<option value="">{{messages.selectElijaOpcion}}</option>
			 </select>
			 
			 <span ng-show ="trabajador.documentoIdentificador == 'rut'">{{trabajador.estadoCivil.glosa}}</span>
		</div>
	</div>

	<!--  Domicilio -->
	
	<div class="form-group row">
		<label for="domicilioGoogleMaps" class="col-md-3 col-form-label">{{messages.domicilio}} *</label>
		
		<div class="col-md-4">

                <input ng-model="trabajador.domicilio" id="domicilioGoogleMaps" googleplace type="text" class="form-control"
                placeholder="{{messages.domicilio}}" ng-required="true">
		</div>
	</div>	

	<!-- Email -->

	<div class="form-group row">
		<label for="email" class="col-md-3 col-form-label">{{messages.email}}</label>
		
		<div class="col-md-4">
                <input id="email" ng-model="trabajador.email" type="email" class="form-control"
                placeholder="{{messages.email}}">
		</div>
	</div>	
	
	<!-- AFP Trabajador -->
	
	<div class="form-group row" ng-show="trabajador.documentoIdentificador == 'rut'">
		<label for="afp-trabajador" class="col-md-3 col-form-label">{{messages.AFPTrabajador}}</label>
		
		<div class="col-md-4">
                <select ng-model="trabajador.AFPSelected"  ng-options="operator as operator.glosa for operator in AFP"
                 		class="form-control form-control-sm col-md-12" id="afp-trabajador">
                 		<option value="">{{messages.selectElijaOpcion}}</option>
                </select>
		</div>
	</div>

	<!-- ISAPRE Trabajador -->
	
	<div class="form-group row" ng-show="trabajador.documentoIdentificador == 'rut'">
		<label for="isapre-trabajador" class="col-md-3 col-form-label">{{messages.ISAPRETrabajador}}</label>
		
		<div class="col-md-4">
			<select ng-model="trabajador.ISAPRESelected" ng-options="operator as operator.glosa for operator in ISAPRE"
 					class="form-control form-control-sm col-md-12" id="isapre-trabajador">
 					<option value="">{{messages.selectElijaOpcion}}</option>
 			</select>
		</div>
	</div>

	<div class="row">
	    <div class="col-md-9">
	       <small>{{messages.mandatoryFields}}</small>                 
	    </div>
	    
	    <div class="col-md-3 form-inline">
	    
        	<button class="btn btn-warning" type="reset" ng-click="ingresoLimpiar()">{{messages.BTN_limpiar}}</button>
        	<a href ui-sref="main.composite" class="btn btn-danger" role="button">{{messages.BTN_cancelar}}</a>
        	<button class="btn btn-primary" type="submit" ng-click="ingresoContinue(2,formTab2)">{{messages.BTN_continuar}}</button>
        	        	        
        </div>
	</div>

</form>