<div id="tabTwo">

<form>

	<h4>{{messages.informacionDelTrabajador}}</h4>

	<!-- Rut / Pasaporte -->
	
	<div class="form-group row">
       <div class="form-check col-md-3">
       
         <label class="form-check-label">            
           <input class="form-check-input" type="radio" name="identificadorTrabajador" ng-model="documentoIdentificador"
           	id="identificadorTrabajador" value="rut"  ng-checked="true"/>
           	{{messages.rut}} 
         </label>
         
        <label class="form-check-label">  
         	<input type="radio" value="pasaporte" ng-model="documentoIdentificador"
          		   name="identificadorTrabajador" ng-checked='false'/>
          		   {{messages.pasaporteTrabajador}}
         </label>
    
       </div>
       
		<div class="col-md-8 form-inline">
			<input id="inputRut" ng-model="rutConsulta" minlength="8" required="true"  type="text" class="form-control">
			<button class="btn btn-default" ng-disabled="!formRutButtonEnabled" ng-click="loadDataFromRutService(rutConsulta)" type="button">{{messages.BTN_buscar}}</button>
		</div>
    </div>
    
	<!-- Nombre completo Trabajador-->
	
	<div class="form-group row">
		<label for="nombre-completo" class="col-md-3 col-form-label">{{messages.nombreCompletoTrabajador}}</label>
		
		<div class="col-md-4">
			<input id="nombre-completo" ng-model="nombreCompletoTrabajadorData" type="text" ng-required="true"
			       class="form-control" placeholder="{{messages.nombreCompletoTrabajador}}"
			       ng-readonly="documentoIdentificador == 'rut'">
		</div>
	</div>

	<!-- Nacionalidad Trabajador -->
	
	<div class="form-group row">
		<label for="nacionalidad-trabajador" class="col-md-3 col-form-label">{{messages.nacionalidadTrabajador}}</label>
		
		<div class="col-md-4">

			<!-- Autocomplete list -->
			<input id="nacionalidad-trabajador" ng-model="nacionalidadTrabajadorData" type="text" ng-required="true"
			       class="form-control" placeholder="{{messages.nacionalidadTrabajador}}"
			       ng-readonly="documentoIdentificador == 'rut'">
		</div>
	</div>	
	
	
	<!-- Lugar de nacimiento del Trabajador -->


	<div class="form-group row">
		<label for="lugar-nacimiento-trabajador" class="col-md-3 col-form-label">{{messages.lugarDeNacimientoTrabajador}}</label>
		
		<div class="col-md-4">

			<!-- Autocomplete list -->
			<input id="lugar-nacimiento-trabajador" ng-model="lugarDeNacimientoTrabajadorData" type="text" ng-required="true"
			       class="form-control" placeholder="{{messages.lugarDeNacimientoTrabajador}}"
			       ng-readonly="documentoIdentificador == 'rut'">
		</div>
	</div>	

	<!-- Fecha de nacimiento Trabajador -->

	<div class="form-group row">
		<label for="fecha-nac-trabajador" class="col-md-3 col-form-label">{{messages.fechaDeNacimientoTrabajador}}</label>
		
		<div class="col-md-4">
		    <p class="input-group">
		      <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="fechaDeNacimientoTrabajadorData"
		       is-open="popupFecNacTrab.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
		       id="fecha-nac-trabajador" ng-readonly="documentoIdentificador == 'rut'"/>
		       
		      <span class="input-group-btn" >
		        <button type="button" class="btn btn-default" ng-click="openDatePicker(popupFecNacTrab)"
		        		ng-disabled="documentoIdentificador == 'rut'">
		        	<i class="glyphicon glyphicon-calendar"></i>
		        </button>
		      </span>
		      </p>
		</div>
	</div>

	<!--  Estado Civil Trabajador -->
	
	<div class="form-group row">
		<label for="lugar-nacimiento-trabajador" class="col-md-3 col-form-label">{{messages.estadoCivilTrabajador}}</label>
		
		<div class="col-md-4">

			 <select ng-model="estadoCivilTrabajadorData" ng-show ="documentoIdentificador == 'pasaporte'" class="form-control">
			 	<option value="casado">Casado</option>
				<option value="soltero">Soltero</option>
			 </select>
			 
			 <span ng-show ="documentoIdentificador === 'rut'">{{estadoCivilTrabajadorData}}</span>
		</div>
	</div>	

	<!--  Domicilio -->
	
	<div class="form-group row">
		<label for="domicilioGoogleMaps" class="col-md-3 col-form-label">{{messages.domicilio}}*</label>
		
		<div class="col-md-4">

                <input ng-model="domicilioData" id="domicilioGoogleMaps" googleplace type="text" class="form-control"
                placeholder="{{messages.domicilio}}">
		</div>
	</div>	

	<!-- Email -->

	<div class="form-group row">
		<label for="email" class="col-md-3 col-form-label">{{messages.email}}*</label>
		
		<div class="col-md-4">
                <input id="email" ng-model="emailTrabajadorData" type="email" class="form-control"
                placeholder="{{messages.email}}">
		</div>
	</div>	
	
	<!-- AFP Trabajador -->
	
	<div class="form-group row">
		<label for="afp-trabajador" class="col-md-3 col-form-label">{{messages.AFPTrabajador}}*</label>
		
		<div class="col-md-4">
                <select ng-model="AFPSelected"  ng-options="operator.value as operator.displayName for operator in getAFP()"
                 		class="form-control form-control-sm col-md-12" id="afp-trabajador">
                </select>
		</div>
	</div>

	<!-- ISAPRE Trabajador -->
	
	<div class="form-group row">
		<label for="isapre-trabajador" class="col-md-3 col-form-label">{{messages.ISAPRETrabajador}}*</label>
		
		<div class="col-md-4">
			<select ng-model="ISAPRESelected" ng-options="operator.value as operator.displayName for operator in getIsapre()"
 					class="form-control form-control-sm col-md-12" id="isapre-trabajador">
 			</select>
		</div>
	</div>

	<div class="row">
	    <div class="col-md-9">
	       <small>{{messages.mandatoryFields}}</small>                 
	    </div>
	    
	    <div class="col-md-3 form-inline">
	    
        	<button class="btn btn-warning" ng-click="ingresoLimpiar()">{{messages.BTN_limpiar}}</button>
        	<button class="btn btn-danger" ng-click="ingresoCancel()">{{messages.BTN_cancelar}}</button>
        	<button class="btn btn-primary" ng-click="ingresoContinue('Tab2')">{{messages.BTN_continuar}}</button>
        	        	        
        </div>
	</div>

</form>
</div>