<form name="formTab3">

        <!--Informacion del Tab-->
        <h4>{{messages.datosDelContrato}}</h4>
        <hr/>

		<!-- Fecha de celebración del contrato -->
		
		<div class="form-group row">
			<label for="fechaDeCelebracionDelContrato" class="col-md-3 col-form-label">{{messages.fechaDeCelebracionDelContrato}} *</label>
			
			<div class="col-md-4">
				<p class="input-group">
		    
		      <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="contrato.fechaCelebContrato"
		       is-open="popupFecCelebCont.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
		       id="fechaDeCelebracionDelContrato" ng-disabled="isEdit"/>
		       
		      <span class="input-group-btn">
		        <button type="button" class="btn btn-default" ng-click="openDatePicker(popupFecCelebCont)" ng-disabled="isEdit">
		        	<i class="glyphicon glyphicon-calendar"></i>
		        </button>
		      </span>
		    </p>
			</div>
		</div>

		<!-- Tipo de contrato -->

		<div class="form-group row">
			<label for="tipoContrato" class="col-md-3 col-form-label">{{messages.tipoDeContrato}} *</label>
			
			<div class="col-md-4">
				<select ng-model="contrato.idTipoContrato"  ng-options="operator.id as operator.glosa for operator in tipoContrato"
				 class="form-control col-md-8 form-control-sm" id="tipoContrato" ng-required="true" ng-disabled="isEdit">
				 <option value="">{{messages.selectElijaOpcion}}</option>
				 </select>
			</div>
		</div>

		<!-- Fecha de inicio del contrato -->

		<div class="form-group row">
			<label for="fechaDeInicioDelContrato" class="col-md-3 col-form-label">{{messages.fechaDeInicioDelContrato}} *</label>
			
			<div class="col-md-4">
				<p class="input-group">
		    
		      <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="contrato.fechaInicioContrato"
		       is-open="popupFecIniCont.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
		       id="fechaDeInicioDelContrato" ng-change="validateFechaTerminoContrato()" />
		       
		      <span class="input-group-btn">
		        <button type="button" class="btn btn-default" ng-click="openDatePicker(popupFecIniCont)"><i class="glyphicon glyphicon-calendar"></i></button>
		      </span>
		    </p>
			</div>
		</div>

		<!-- Fecha de término del contrato -->

		<div class="form-group row">
			<label for="fechaTerminoDelContrato" class="col-md-3 col-form-label">{{messages.fechaTerminoDelContrato}} *</label>
			
			<div class="col-md-4">
			<p class="input-group">
		    
		      <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="contrato.fechaTerminoContrato"
		       is-open="popupFecTerCont.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
		       id="fechaTerminoDelContrato" ng-disabled="fechaTerminoDisabled()" ng-change="validateFechaTerminoContrato()" />
		       
		      <span class="input-group-btn">
		        <button type="button" class="btn btn-default" ng-click="openDatePicker(popupFecTerCont)" ng-disabled="fechaTerminoDisabled()">
		        	<i class="glyphicon glyphicon-calendar"></i>
		        </button>
		      </span>
		    </p>
			    <small class="alert alert-danger" role="alert" ng-show="terminoContratoTooltip">
				 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
				 {{messages.terminoContratoTooltip}}
				 </small>
			</div>
			<div class="col-md-4">
			</div>
		</div>

		<!-- Modalidad de pago -->
		
		<div class="form-group row">
			<label for="modalidadDePago" class="col-md-3 col-form-label">{{messages.modalidadDePago}} *</label>
			
			<div class="col-md-4">
				<select ng-model="contrato.idModalidadPago"  ng-options="operator.id as operator.glosa for operator in modalidadDePago"
				 class="form-control col-md-8 form-control-sm" id="modalidadDePago" ng-required="true">
				 <option value="">{{messages.selectElijaOpcion}}</option>
				 </select>
			</div>
		</div>
 

 
        <!--Tabla asociada-->
        

		<br/><h4>{{messages.datosDeLasLaboresAsociadasAlContrato}}</h4> <br>

        <div class="row">
        	<div class="col-md-12">
            <table class="table table-striped table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th><small>{{messages.eliminarFila}}</small></th>
                        <th><small>{{messages.labor}} *</small></th>
                        <th><small>{{messages.funcion}} *</small></th>
                        <th><small>{{messages.lugarDePresentacionDelosServicios}} *</small></th>
                        <th><small>{{messages.tipoDeJornada}} *</small></th>
                        <th><small>{{messages.horario}} *</small></th>
                        <th><small>{{messages.acuerdoDeDescanso}} *</small></th>
                        <th><small>{{messages.remuneracionBruta}} *</small></th>                                
                    </tr>
                </thead>
                <tfoot class="table-no-bordered">
                    <tr>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;" class="table-no-bordered col-md-2">{{messages.total}}</td>
                        <td style="border: none;" class="text-right input-group">
                            <span class="input-group-addon ">$</span>
                            <input ng-model="contrato.total" type="text" disabled="true" class="form-control  text-right col-md-2">
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="datosLaborales in contrato.labores">
                    	<td>
                    	<button type="button" class="btn btn-danger" ng-click="deleteRow(datosLaborales)">
 							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
                    	</td>
                        <td>
                            <select ng-model="datosLaborales.idLabor" ng-options="elem.id as elem.glosa for elem in labores"
                                    class="form-control" ng-required="true" ng-disabled="datosLaborales.isLoaded">
                            	<option value="">{{messages.selectElijaOpcion}}</option>
                            </select>                            
                        </td>
                        <td>
                            <select ng-model="datosLaborales.idFuncion" ng-options="elem.id as elem.glosa for elem in funciones" 
                                    class="form-control" ng-required="true" ng-disabled="datosLaborales.isLoaded">
                            	<option value="">{{messages.selectElijaOpcion}}</option>
                            </select>
                        </td>
                        <td>
                            <select ng-model="datosLaborales.idLugar" ng-options="elem.id as elem.lugar for elem in lugares" class="form-control" ng-required="true">
                            	<option value="">{{messages.selectElijaOpcion}}</option>
                            </select>         
                        </td>
                        <td>
                            <select ng-model="datosLaborales.idJornada" ng-options="elem.id as elem.glosa for elem in tiposJornada" class="form-control" ng-required="true">
                            	<option value="">{{messages.selectElijaOpcion}}</option>
                            </select>
                        </td>
                        <td>      
                                <input ng-model="datosLaborales.horario"  type="hidden" class="form-control" />

                                <button class="btn btn-link" type="button" ng-click="loadAcuerdoJornadaLaboral(datosLaborales, contrato.labores)">
                                
                                	<span class="glyphicon glyphicon-plus" ng-show="!datosLaborales.horario"> {{messages.ingresar}}</span>
                                	<span class="glyphicon glyphicon-pencil" ng-show="datosLaborales.horario"> {{messages.edit}}</span>
                                </button>
                        </td>
                        <td>
                            <div>
                                <input ng-model="datosLaborales.acuerdoDescanso" type="hidden"  class="form-control"/>                

                                <div></div>

                                <button class="btn btn-link" type="button" ng-click="loadAcuerdoDescanso(datosLaborales)">
                					<span class="glyphicon glyphicon-plus" ng-show="!datosLaborales.acuerdoDescanso"> {{messages.ingresar}}</span>
                                	<span class="glyphicon glyphicon-pencil" ng-show="datosLaborales.acuerdoDescanso"> {{messages.edit}}</span>
                                </button>
                            </div>
                        </td>
                        <td class="input-group">
                            <span class="input-group-addon ">$</span>
                            <input ng-model="datosLaborales.remuneracionBruta" ng-change="updateTotal()" type="number" min="0" class="form-control text-right" ng-required="true">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default" type="button" ng-click="addRow()">{{messages.BTN_addLabor}}</button>
        </div>
        </div>
        
        <hr/>
        
        <div class="row">
		    <div class="col-md-9">
		       <small>{{messages.mandatoryFields}}</small> 
		    </div>
		    
		    <div class="col-md-3 form-inline">
	        	<button class="btn btn-warning" type="button" ng-click="limpiarContrato()">{{messages.BTN_limpiar}}</button>	        
        		<button class="btn btn-danger" type="button" ng-click="ingresoCancelar()">{{messages.BTN_cancelar}}</button>
	        	<button class="btn btn-primary" type="submit" ng-disabled="formTab3.$invalid" ng-click="ingresoSubmit(formTab3,formTab2)">{{messages.BTN_finalizar}}</button>
	        	        	        
	        </div>
		</div>
</form>
