<form name="formTab2">

	<h4>{{messages.informacionDelTrabajador}}</h4>
	<hr/>

	<!-- Rut / Pasaporte -->
	
	<div class="form-group row">
       <div class="form-check col-md-3">
       
         <label class="form-check-label">            
           <input class="form-check-input" type="radio" name="identificadorTrabajador" ng-model="trabajador.documentoIdentificador"
           	      id="identificadorTrabajador" value="rut"  ng-checked="true" ng-click="ingresoLimpiarTrab('rut')"/>
           	{{messages.rut}} 
         </label>
         
        <label class="form-check-label">
         	<input type="radio" value="pasaporte" ng-model="trabajador.documentoIdentificador"
          		   name="identificadorTrabajador" ng-checked="false" ng-click="ingresoLimpiarTrab('pasaporte')"/>
          		   {{messages.pasaporteTrabajador}}
         </label>
    
       </div>
       
		<div class="col-md-4 form-inline">
			<input id="inputRut" ng-model="trabajador.numDocIdentificador" ng-required="true"="true"  type="text" ng-maxlength="50" class="form-control">
			
			 <button type="button" class="btn btn-primary" ng-show="trabajador.documentoIdentificador == 'rut'"
			         ng-click="loadDataTrabajador(trabajador.numDocIdentificador)" ng-disabled="trabajadorLoading">
			 
			 <span ng-show="!trabajadorLoading">
			 	   <span class="glyphicon glyphicon-search"></span>
			       Buscar
			 </span>
			 
			 <span ng-show="trabajadorLoading">
				 <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
				  Cargando... 
			 </span>
			  
			  </button>
			 
		</div>
    </div>
    
	<!-- Nombres Trabajador-->
	
	<div class="form-group row">
		<label for="nombres" class="col-md-3 col-form-label">{{messages.nombresTrabajador}} *</label>
		
		<div class="col-md-4">
			<input id="nombres" ng-model="trabajador.nombres" type="text" ng-required="true"
			       class="form-control" placeholder="{{messages.nombresTrabajador}}"
			       ng-readonly="trabajador.documentoIdentificador == 'rut'">
		</div>
	</div>

	<!-- Apellido Paterno -->

	<div class="form-group row">
		<label for="apellidoPat" class="col-md-3 col-form-label">{{messages.apellidoPaterno}} *</label>
		
		<div class="col-md-4">
			<input id="apellidoPat" ng-model="trabajador.apellidoPaterno" type="text" ng-required="true"
			       class="form-control" placeholder="{{messages.apellidoPaterno}}"
			       ng-readonly="trabajador.documentoIdentificador == 'rut'">
		</div>
	</div>

	<!-- Apellido Materno-->

	<div class="form-group row">
		<label for="apellidoMat" class="col-md-3 col-form-label">{{messages.apellidoMaterno}} *</label>
		
		<div class="col-md-4">
			<input id="apellidoMat" ng-model="trabajador.apellidoMaterno" type="text" ng-required="true"
			       class="form-control" placeholder="{{messages.apellidoMaterno}}"
			       ng-readonly="trabajador.documentoIdentificador == 'rut'">
		</div>
	</div>

	<!-- Nacionalidad Trabajador -->
	
	<div class="form-group row">
		<label for="nacionalidad-trabajador" class="col-md-3 col-form-label">{{messages.nacionalidadTrabajador}} *</label>
		
		<div class="col-md-4">
			       
			 <select ng-model="trabajador.nacionalidad.id" ng-show ="trabajador.documentoIdentificador == 'pasaporte'" id="nacionalidad-trabajador"
			  class="form-control" ng-options="operator as operator.gentilicio for operator in nacionalidades track by operator.id" ng-required="trabajador.documentoIdentificador == 'pasaporte'">
			 	<option value="">{{messages.selectElijaOpcion}}</option>
			 </select>
			 
			<span ng-show ="trabajador.documentoIdentificador == 'rut'">{{trabajador.nacionalidad.gentilicio}}</span>
		</div>
	</div>

	<!-- Sexo Trabajador-->

	<div class="form-group row">
		<label for="sexo" class="col-md-3 col-form-label">{{messages.sexoTrabajador}} *</label>
		
		<div class="col-md-4">
			 <select ng-model="trabajador.sexo.id" class="form-control" ng-readonly="trabajador.documentoIdentificador == 'rut'"
			 ng-required="trabajador.documentoIdentificador == 'pasaporte'" ng-show ="trabajador.documentoIdentificador == 'pasaporte'">
			 	<option value="">{{messages.selectElijaOpcion}}</option>
			 	<option value="1">Masculino</option>
			 	<option value="2">Femenino</option>
			 </select>

			<span ng-show ="trabajador.documentoIdentificador == 'rut'">{{trabajador.sexo.glosa}}</span> 
		</div>
	</div>

	<!-- Fecha de nacimiento Trabajador -->

	<div class="form-group row">
		<label for="fecha-nac-trabajador" class="col-md-3 col-form-label">{{messages.fechaDeNacimientoTrabajador}} *</label>
		
		<div class="col-md-4">
		    <p class="input-group">
		      <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="trabajador.fechaNacimiento" ng-required="true"
		       is-open="popupFecNacTrab.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
		       id="fecha-nac-trabajador" name="fecNacTrab" ng-readonly="trabajador.documentoIdentificador == 'rut'"/>
		       
		      <span class="input-group-btn" >
		        <button type="button" class="btn btn-default" ng-click="openDatePicker(popupFecNacTrab)"
		        		ng-disabled="trabajador.documentoIdentificador == 'rut'">
		        	<i class="glyphicon glyphicon-calendar"></i>
		        </button>
		      </span>
		      </p>
		</div>
	</div>

	<!--  Estado Civil Trabajador -->
	
	<div class="form-group row">
		<label for="lugar-nacimiento-trabajador" class="col-md-3 col-form-label">{{messages.estadoCivilTrabajador}} *</label>
		
		<div class="col-md-4">

			 <select ng-model="trabajador.estadoCivil.id" ng-show ="trabajador.documentoIdentificador == 'pasaporte'"
			  class="form-control" ng-options="operator as operator.glosa for operator in estadoCivil track by operator.id" ng-required="trabajador.documentoIdentificador == 'pasaporte'">
			 	<option value="">{{messages.selectElijaOpcion}}</option>
			 </select>
			 
			 <span ng-show ="trabajador.documentoIdentificador == 'rut'">{{trabajador.estadoCivil.glosa}}</span>
		</div>
	</div>

	<!-- form domicilio, email, afp, isapre -->
	<ng-include src="'relacion_laboral/datos_trabajador.fragment.html'"></ng-include>

	<div class="row">
	    <div class="col-md-9">
	       <small>{{messages.mandatoryFields}}</small>                 
	    </div>
	    
	    <div class="col-md-3 form-inline">
	    
        	<button class="btn btn-warning" type="reset" ng-click="ingresoLimpiarTrab()">{{messages.BTN_limpiar}}</button>
        	<a href ui-sref="main.composite" class="btn btn-danger" role="button">{{messages.BTN_cancelar}}</a>
        	<button class="btn btn-primary" type="submit" ng-disabled="formTab2.$invalid" ng-click="ingresoContinueT2(formTab2)">{{messages.BTN_continuar}}</button>
        	        	        
        </div>
	</div>

</form>